In [1]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Choose operation (+, -, *, /): ")

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    if b != 0:
        print("Result:", a / b)
    else:
        print("Cannot divide by zero.")

Enter first number:  2
Enter second number:  3
Choose operation (+, -, *, /):  /

Result: 0.6666666666666666

In [2]:
num = int(input("Enter a decimal number: "))
print("Binary:", bin(num)[2:])

Enter a decimal number:  2

Binary: 10

In [3]:
age = int(input("Enter your age: "))
if age < 18:
    print("You're a minor.")
elif age < 65:
    print("You're an adult.")
else:
    print("You're a senior.")

Enter your age:  34

You're an adult.

In [4]:
a = int(input("a = "))
b = int(input("b = "))
a, b = b, a
print("After swap: a =", a, "b =", b)

a =  23
b =  34

After swap: a = 34 b = 23

In [5]:
# 5. First 10 Fibonacci Numbers
a, b = 0, 1
for _ in range(10):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [6]:
# 6. Prime Number Checker
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not prime")
            break
    else:
        print("Prime number")
else:
    print("Not prime")

Enter a number:  3

Prime number

In [7]:
# 7. Check if Third Number is Sum of First Two
a = int(input("First: "))
b = int(input("Second: "))
c = int(input("Third: "))
if c == a + b:
    print("Third is the sum of first two.")
else:
    print("Third is NOT the sum of first two.")

First:  6
Second:  7
Third:  8

Third is NOT the sum of first two.

In [10]:
# 9. Division with Zero Handling
try:
    a = float(input("Enter numerator: "))
    b = float(input("Enter denominator: "))
    print("Result:", a / b)
except ZeroDivisionError:
    print("Cannot divide by zero.")

Enter numerator:  2
Enter denominator:  8

Result: 0.25

In [11]:
# 10. Find Maximum in List
def find_max(lst):
    return max(lst)

print(find_max([5, 3, 8, 2]))

8

In [12]:
# 11. Greeting with Optional Age
def greet(name, age=25):
    print(f"Hello, {name}. You are {age} years old.")

greet("Manjit")
greet("Alex", 30)

Hello, Manjit. You are 25 years old.
Hello, Alex. You are 30 years old.

In [14]:
# 12. Count Vowels in String
s = input("Enter a string: ").lower()
count = sum(1 for char in s if char in 'aeiou')
print("Vowel count:", count)

Enter a string:  a

Vowel count: 1

In [15]:
# 13. Multiplication Table up to 10
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [16]:
# 14. Right-Angled Triangle of Stars
rows = int(input("Number of rows: "))
for i in range(1, rows + 1):
    print('*' * i)

Number of rows:  5

*
**
***
****
*****

In [17]:
# 15. Star Pyramid
rows = int(input("Number of rows: "))
for i in range(rows):
    print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

Number of rows:  5

    *
   ***
  *****
 *******
*********

In [18]:
#SET B

# 1. Palindrome Number
def is_palindrome(x):
    return str(x) == str(x)[::-1]


print(is_palindrome(121))

True

In [19]:
# 2. Single Number (Using XOR)
def single_number(nums):
    result = 0
    for num in nums:
        result ^= num
    return result


print(single_number([4, 1, 2, 1, 2]))

4

In [20]:
# 3. Two Sum (Hash Map Approach)
def two_sum(nums, target):
    index_map = {}
    for i, num in enumerate(nums):
        diff = target - num
        if diff in index_map:
            return [index_map[diff], i]
        index_map[num] = i


print(two_sum([2, 7, 11, 15], 9))

[0, 1]

In [21]:
# 4. Happy Number
def is_happy(n):
    visited = set()
    while n != 1 and n not in visited:
        visited.add(n)
        n = sum(int(digit)**2 for digit in str(n))
    return n == 1


print(is_happy(19))

True

In [22]:
# 5. Contains Duplicate
def contains_duplicate(nums):
    return len(nums) != len(set(nums))


print(contains_duplicate([1, 2, 3, 1]))

True